aasdasdasd
<form [formGroup]="bookForm" (ngSubmit)="doAdd()">
<div class="md-form form-sm">
  <input mdbInput type="text" id="form1" class="form-control form-control-sm"
         formControlName="title"
         name="title"
         [(ngModel)]="book.title">
  <label for="form1" class="">Name</label>
</div>
<div class="md-form form-sm">
  <input mdbInput type="text" id="form2" class="form-control form-control-sm"
         formControlName="author"
         name="author"
         [(ngModel)]="book.author">
  <label for="form2" class="">Author</label>
</div>
<div class="md-form form-sm">
  <input mdbInput type="text" id="form3" class="form-control form-control-sm"
         formControlName="description"
         name="description"
         [(ngModel)]="book.description">
  <label for="form3" class="">Description</label>
</div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
