  <div class="md-form form-sm">
  <input mdbInput type="text" id="form1" class="form-control form-control-sm">
  <label for="form1" class="">Name</label>
</div>
<div class="md-form form-sm">
  <input mdbInput type="text" id="form2" class="form-control form-control-sm">
  <label for="form2" class="">Author</label>
</div>
<div class="md-form form-sm">
  <input mdbInput type="text" id="form3" class="form-control form-control-sm">
  <label for="form3" class="">Description</label>
</div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
