<form class="form-group" [formGroup]="bookCreateForm" (ngSubmit)="createBook()">
  <input type="hidden" class="form-control"
         formControlName="id" [(ngModel)]="book.id"
         name="id" id="id"
         aria-label="id">
  <div class="md-form form-sm">
    <input placeholder="Title" mdbInput type="text" id="title" class="form-control form-control-sm"
           formControlName="title"
           name="title"
           [(ngModel)]="book.title"
           [class.is-invalid]="bookCreateForm.controls.title.invalid &&
         (bookCreateForm.controls.title.touched || bookCreateForm.controls.title.dirty)">
    <!--    <label for="title">Title</label>-->
  </div>
  <div class="md-form form-control-sm">
    <input placeholder="Author" mdbInput type="text" id="author" class="form-control form-control-sm"
           formControlName="author"
           name="author"
           [(ngModel)]="book.author"
           [class.is-invalid]="bookCreateForm.controls.author.invalid &&
         (bookCreateForm.controls.author.touched || bookCreateForm.controls.author.dirty)">
    <!--    <label for="author">Author</label>-->
  </div>
  <div class="md-form form-sm">
    <input placeholder="Subscription" mdbInput type="text" id="desc" class="form-control form-control-sm"
           formControlName="description"
           name="description"
           [(ngModel)]="book.description">
    <!--    <label for="desc">Description</label>-->
  </div>
  <button type="submit" class="btn btn-outline-primary">Add a new book</button>
</form>
<!--<div class="mt-3">-->
<!--  <h3 class="text-primary">Create New Book</h3>-->
<!--  <div class="p-3 border d-inline-block">-->
<!--    <form class="form-group" [formGroup]="bookCreateForm" (ngSubmit)="createBook()">-->
<!--      <div>-->
<!--        <label> Title:-->
<!--        </label>-->
<!--        <input class="form-control" type="text" formControlName="title"-->
<!--               [class.is-invalid]="bookCreateForm.controls.title.invalid &&(bookCreateForm.controls.title.touched ||bookCreateForm.controls.title.dirty)">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label> Author:-->
<!--        </label>-->
<!--        <input class="form-control" type="text" formControlName="author"-->
<!--               [class.is-invalid]="bookCreateForm.controls.author.invalid &&(bookCreateForm.controls.author.touched||bookCreateForm.controls.author.dirty)">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label> Description:</label>-->
<!--        <div>-->
<!--          <textarea class="form-control" type="text" formControlName="description" cols="100" rows="3"></textarea>-->
<!--        </div>-->
<!--      </div>-->
<!--      <button class="btn btn-primary m-3" type="submit">Create</button>-->
<!--      <a routerLink="/books">-->
<!--        <button class="btn btn-warning">Cancel</button>-->
<!--      </a>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->
