<div class="justify-content-end">
  <button style="width: 200px" routerLink="/books/create"
          class="btn btn-outline-success" type="submit">Create a book</button>
</div>
<table mdbTable>
  <thead class="black white-text">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sách</th>
    <th scope="col">Tác giả</th>
    <th scope="col" id="acts">Tác vụ</th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let book of books">
    <td>{{book.id}}</td>
    <td><a routerLink="/books/{{book.id}}">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td style="text-align: center">
      <a class="btn btn-outline-warning" routerLink="/books/{{book.id}}/update">Edit</a>
      <a id="actBut" class="btn btn-outline-danger" routerLink="/books/{{book.id}}/delete">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

