<table mdbTable>
  <thead class="black white-text">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sách</th>
    <th scope="col">Tác giả</th>
    <th scope="col">Tác vụ</th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let book of books">
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td><button class="btn btn-outline-warning" routerLink="books/:id/update">Edit</button>
      <button class="btn btn-outline-danger" routerLink="books/:id/delete">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

